APP_ENV=development
SECRET_KEY=supersecretkey
OPENAI_API_KEY=not_used_but_keep
OPENAI_API_BASE=not_used
GROQ_API_KEY=your_groq_api_key
LLM_MODEL=llama3-8b-8192
EMBEDDING_MODEL=fastembed
QDRANT_HOST=localhost
QDRANT_PORT=6333
MONGODB_URI=mongodb://admin:adminpassword@localhost:27017
MONGODB_DB=rag_platform
JWT_SECRET=supersecretjwtkey
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=1440
GUARDRAILS_PROVIDER=local
RAG_COLLECTION_NAME=finbot_documents
# MongoDB Root Credentials used by docker-compose
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=adminpassword